@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: rgb(20, 20, 26);
}

.container{
    margin: auto;
    width: 80%;
    text-align: center;
}

.listLollies{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.listLollies .lollipop .lolli-form{
    height: 300px;
}

.header{
    text-align: center;
    margin: 100px auto;
}

.header-h1{
    color: white;
    font-family: 'Cedarville Cursive', cursive;
    font-size: 7.5ch;
}

.header-para{
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 3ch;
}

.navigate-btn{
    margin: 50px;
    width: 250px;
    height: 50px;
    background-color: transparent;
    color: white;
    border-radius: 50px;
    border: 1px solid white;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: 'Dancing Script', cursive;
    font-size: 3ch;
}

.navigate-btn:focus{
    outline: none;
}

.navigate-btn:hover{
    background-color: white;
    color:rgb(20, 20, 26) ;
}
.lolli-form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.colorLabel{
    height: 40px;
    width: 40px;
    border-radius: 24px;
    border: 2px solid #fff;
    display: block;
    overflow: hidden;
    margin: 30px;
    box-shadow: 0 0 14px #000;
}

.color-picker{
    width: 60px;
    height: 60px;
    margin-top: -10px;
    margin-left: -10px;
    padding: 0;
    appearance: auto;
    cursor: pointer;
}
.color-pallete{
    display: flex;
    flex-direction: column;
}

/* colgroup{
    color: #0066ff;
} */